@use '../../../../../stylesheets/utilities' as utils;
@use '../abstract.input.component.scss' as inherit;


.textinput {
    display: grid;
    position: relative;
    input {
        $indent: calc(inherit.$padding-start + inherit.$icon-padding-error + (inherit.$border * 2));
        width: calc(100% - $indent);
        padding: 10px inherit.$icon-padding-error 10px inherit.$padding-start;
        border-radius: calc(utils.$size5 + inherit.$border);
        text-overflow: ellipsis;
        border: inherit.$border outset var(--theme-nav-grey);
    }
}