@use '../../../../../stylesheets/utilities' as utils;
@use '../abstract.input.component.scss' as inherit;


.textinput {
    display: grid;
    position: relative;
    input {
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: inherit.$padding-start;
        border-radius: calc(utils.$size5 + inherit.$border);
        text-overflow: ellipsis;
        border: inherit.$border outset var(--theme-nav-grey);
    }
    .icon-eye {
        $size: 20px;
        display: flex;
        position: absolute;
        align-self: center;
        justify-self: end;
        width: $size;
        height: $size;
        cursor: pointer;
        opacity: 0.6;
        color: var(--theme-base-reverse);
    }
}
