@use './utilities' as utils;


/* prevent printing webpage */
@media print {
    html, body {
        display: none;
    }
}

// width > 1440px
@media screen and (width > utils.$device-desktop) {
    .bhm-login {
        #bhm-login-main {
            border: 1px solid grey;
            width: calc(50% - 15px);
            height: calc(75% - 15px);
            .bhm-login-input {
                width: 50%;
                max-width: 450px;
            }
            .login-submit {
                // Padding + border from .btn-primary
                $btn-primary-specs: 52px;
                width: calc(50% - $btn-primary-specs);
                max-width: calc(450px - $btn-primary-specs);
            }
        }
    }
}

// 1024px > width <= 1440px
@media screen and (width <= utils.$device-desktop) {
    .bhm-login {
        #bhm-login-main {
            border: 1px solid grey;
            width: calc(75% - 15px);
            height: calc(75% - 15px);
            .bhm-login-input {
                width: 60%;
                max-width: 450px;
            }
            .login-submit {
                // Padding + border from .btn-primary
                $btn-primary-specs: 52px;
                width: calc(60% - $btn-primary-specs);
                max-width: calc(450px - $btn-primary-specs);
            }
        }
    }
}

// 768px > width <= 1024px
@media screen and (width <= utils.$device-tablet-landscape) {}

// 550px > width <= 768px
@media screen and (width <= utils.$device-phone-landscape) {
    .bhm-login {
        #bhm-login-main {
            border: none;
            width: 100%;
            height: 100%;
            .bhm-login-input {
                width: 60%;
                max-width: 450px;
            }
            .login-submit {
                // Padding + border from .btn-primary
                $btn-primary-specs: 52px;
                width: calc(60% - $btn-primary-specs);
                max-width: calc(450px - $btn-primary-specs);
            }
        }
    }
}

// 350px > width <= 550px
@media screen and (width <= utils.$device-phone-portrait) {
    .bhm-login {
        #bhm-login-main {
            .bhm-login-input {
                width: 80%;
                max-width: 350px;
            }
            .login-submit {
                // Padding + border from .btn-primary
                $btn-primary-specs: 52px;
                width: calc(80% - $btn-primary-specs);
                max-width: calc(350px - $btn-primary-specs);
            }
        }
    }
}
